<%- include('../partials/header') %>

<body>
    <h1 class="allItinerariesHeader" >My Itineraries</h1>
    <ul>
        <% trips.forEach(function(trip) { %>
        <li>
            <a href="/trips/<%= trip._id %>" class="profileTrips">
            <%= trip.location %>
            </a>
            <form action="/trips/<%= trip._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <br>
            <div class="profileDates">
            <%= trip.startDate.toLocaleDateString(undefined, { month: 'long', day: 'numeric' }) %> -
            <%= trip.endDate.toLocaleDateString(undefined, { day: 'numeric' }) %>
            </div>
        </li>
        <% }); %>
    </ul>
    <a href="/trips/new" class="indexNewTrip">Plan a new trip</a>

    <%- include('../partials/footer') %>