<%- include('../partials/header') %>

<h2><%= trips.location %> </h2>

<h3><%= trips.startDate.toLocaleDateString(undefined, { weekday: 'long' }) %>, <%= trips.startDate.toLocaleDateString() %></h3>

<ul>
    <% datesBetween.forEach(date => { %>
        <li><%= date.toLocaleDateString(undefined, { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) %></li>
    <% }) %>
</ul>

<h3><%= trips.endDate.toLocaleDateString(undefined, { weekday: 'long' }) %>, <%= trips.endDate.toLocaleDateString() %></h3>

<%- include('../partials/footer') %>