<%- include('../partials/header') %>
<hr>
<div class="container">
    <div class="sidebar">
        <div class="tripOverview">Trip Overview</div>
        <div class="flightsSide">Flights</div>
        <div class="hotelsSide">Hotels</div>
        <div class="itinerarySide">Itinerary</div>
    </div>
    <div class="vl"></div>
    <div class="main-content">

    <h2 class="showTitle">Trip to <%= trip.location %>
        <div class="showDate" ><%= trip.startDate.toLocaleDateString(undefined, { month: 'long', day: 'numeric' }) %> -
            <%= trip.endDate.toLocaleDateString(undefined, { day: 'numeric' }) %></div>
    </h2>
    

        <% datesBetween.forEach(date => { %>
        <% const dateValue = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}` %>
        <div>
            <%= date.toLocaleDateString(undefined, { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) %>
            <ul>
                <% const dateExcursions = trip.excursions.filter(exc => date.getFullYear() === exc.activityDate.getFullYear()
                && date.getMonth() === exc.activityDate.getMonth()
                && date.getDate() === exc.activityDate.getDate()) %>
                <% dateExcursions.forEach(excursion => { %>
                <li>
                    <a href="/trips/<%= excursion._id %>/edit">
                        <%= excursion.activity %>
                    </a>
                    <form action="/trips/<%= excursion._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">X</button>
                    </form>
                </li>
                <% }); %>
            </ul>
            <form action="/trips/<%= trip._id %>/excursions" method="POST">
                <input type="text" name="activity" placeholder="Add activity...">
                <input type="hidden" value="<%= dateValue %>" name="activityDate">
                <button class="showButton" type="submit">Add</button>
            </form>
        </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>